{% extends 'base.html.twig' %}

{% block title %}
    {{ 'records_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'records_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'record.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'record.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'record.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.text'|trans, 'record.text') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.category'|trans, 'category.title') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for record in pagination.items %}
                <tr>
                    <td>{{ record.id }}</td>
                    <td>{{ record.createdAt|date('D, d M Y') }}</td>
                    <td>{{ record.title }}</td>
                    <td>{{ record.text }}</td>
                    <td>{{ record.category.title }}</td>
                    <td>
                        <a href="{{ url('record_show', {id: record.id}) }}" title="{{ 'action.show'|trans }}">
                            {{ 'show'|trans }}
                        </a>
                        <br><a href="{{ url('record_edit', {id: record.id}) }}" title="{{ 'action.edit'|trans }}">
                            {{ 'edit'|trans }}
                        </a></br>
                        <a href="{{ url('record_delete', {id: record.id}) }}" title="{{ 'action.delete'|trans }}">
                            {{ 'delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}