{% extends 'base.html.twig' %}

{% block title %}
    {{ 'label.category'|trans }}
{% endblock %}

{% block body %}
 <h1>{{ 'label.category'|trans }}</h1>
    <dl>
        <dt>{{'label.id'|trans }}</dt>
        <dd>{{ category.id }}</dd>

        <dt>{{'label.title'|trans }}</dt>
        <dd>{{ category.title }}</dd>
    </dl>


    <a href="{{ path('category_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}</a>
{% endblock %}
