{% extends 'base.html.twig' %}

{% block title %}
    {{ 'user_show'|trans }}
{% endblock %}

{% block body %}
    {% if user is defined and user|length %}

    <div class="center">
        <h1>{{ 'user_show'|trans }}</h1>
        <dl>
            <dt>{{ 'email' }}</dt>
            <dd>{{ user.email }}</dd>
        </dl>
        {% if is_granted('EDIT_EMAIL', user) %}
            <a class="btn btn-outline-secondary" href="{{ url('edit_email', {'id': user.id}) }}">{{'edit_email'|trans}}</a>
        {% endif %}
        {% if is_granted('EDIT_PASS', user) %}
            <a class="btn btn-outline-secondary" href="{{ url('edit_password', {'id': user.id}) }}">{{'edit_password'|trans}}</a>
        {% endif %}


    </div>
    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock  %}